/**** 1.7 *******/
.product-miniature .product-description{
    height:125px !important;
}
.product-miniature .highlighted-informations{
    height:6.125rem !important;
}
.product-miniature .product-description .discount-percentage{
    top:196px;
}
.product-miniature .number-quantity{
    display: inline;
    padding-bottom: 13px;
    height: 37px !important;
}
.button-quantity{
    margin-left: 1px
}
.product-price-and-shipping{
    margin-bottom: 5px;
}
@media (max-width: 767px){
    .product-miniature .product-description form{
        margin: 10px;
    }
}
/*****************  1.6  *****************/
.button.ajax_add_to_cart_quantity {
font: 700 17px/21px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    border: 1px solid;
    border-color: #0079b6 #006fa8 #012740 #006fa8;
    margin:7px 6px 10px 0px;
}
.button.ajax_add_to_cart_quantity:hover {
    border-color: #01314e #004b74 #0079b6 #004b74;
}
.button.ajax_add_to_cart_quantity span {
    border: 1px solid;
    border-color: #06b2e6;
    padding: 10px 14px;
    display: block;
    background: #009ad0;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#009ad0), to(#007ab7));
    background-image: -webkit-linear-gradient(top, #009ad0, 0%, #007ab7, 100%);
    background-image: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
    background-image: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF009AD0', endColorstr='#FF007AB7', GradientType=0);
}
.button.ajax_add_to_cart_quantity:hover span {
    filter: none;
    background: #0084bf;
}

ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button, ul.product_list.grid > li .product-container .button-container span.button, ul.product_list.grid > li .product-container .button-container .lnk_view{
    margin:0px;
}
ul.product_list.grid > li .product-container{
    padding-bottom:10px;
}

/****************** both ***************/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}
.quantity_form{
    text-align: center;
}
.number-quantity{
    padding: 10px 10px;
    width: 27%;
    height: 44px;
    background: #fff;
}




